Angela Spencer
Week 4 In Class Assignment

No. 1

In [16]:
import pandas as pd

belize_df = pd.read_csv("belize_airbnb_listings.csv")
belize_df.head(1)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,36666,Mo's Cozy Casa w/ veranda & access to dock,157752,Monique,Belize,Belize Islands,17.74786,-88.02398,Entire home/apt,141,3,250,2/23/2021,2.0,5,225

In [14]:
belize_groupby = belize_df.groupby("neighbourhood")

In [17]:
belize_groupby['price'].mean()

neighbourhood
Belize Islands           399.442824
Belize Mainland          288.273063
Cayo                     205.847525
Corozal                  156.553846
Orange Walk              122.035714
Stann Creek Islands     1136.166667
Stann Creek Mainland     456.994690
Toledo Mainland          222.978723
Name: price, dtype: float64

In [19]:
belize_groupby['number_of_reviews'].mean()

neighbourhood
Belize Islands          17.647736
Belize Mainland         15.147601
Cayo                    14.566337
Corozal                  7.569231
Orange Walk             14.821429
Stann Creek Islands      5.750000
Stann Creek Mainland     8.470796
Toledo Mainland          4.127660
Name: number_of_reviews, dtype: float64

In [20]:
belize_groupby['availability_365'].mean()

neighbourhood
Belize Islands          295.970837
Belize Mainland         261.014760
Cayo                    259.249505
Corozal                 278.676923
Orange Walk             261.928571
Stann Creek Islands     248.083333
Stann Creek Mainland    277.872566
Toledo Mainland         234.744681
Name: availability_365, dtype: float64

In [29]:
belize_means = belize_groupby[["price", "number_of_reviews", "availability_365"]].mean()
print(belize_means)

                            price  number_of_reviews  availability_365
neighbourhood
Belize Islands         399.442824          17.647736        295.970837
Belize Mainland        288.273063          15.147601        261.014760
Cayo                   205.847525          14.566337        259.249505
Corozal                156.553846           7.569231        278.676923
Orange Walk            122.035714          14.821429        261.928571
Stann Creek Islands   1136.166667           5.750000        248.083333
Stann Creek Mainland   456.994690           8.470796        277.872566
Toledo Mainland        222.978723           4.127660        234.744681

In [30]:
#other options
#reset index and merge all on index
#or leave each calculation as a series

NO 2

In [31]:
list1 = [2,4,6,8,10,12,14]
list2 = [x**2 for x in list1]
print(list2)

[4, 16, 36, 64, 100, 144, 196]

NO 3

In [32]:
list3 = [x*2/3 for x in list1]
print(list3)

[1.3333333333333333, 2.6666666666666665, 4.0, 5.333333333333333, 6.666666666666667, 8.0, 9.333333333333334]

NO 4

In [63]:
dict_upper = {"Apples": 1500, "Cranberries": 2000, "Pears": 2500, "Cherries": 1600, "Plums": 2400, "Peaches": 13600, "Oranges":7}
print(dict_upper)

{'Apples': 1500, 'Cranberries': 2000, 'Pears': 2500, 'Cherries': 1600, 'Plums': 2400, 'Peaches': 13600, 'Oranges': 7}

In [66]:
dict_lower = {key.lower():value for key,value in dict_upper.items()}
print(dict_lower)

{'apples': 1500, 'cranberries': 2000, 'pears': 2500, 'cherries': 1600, 'plums': 2400, 'peaches': 13600, 'oranges': 7}

In [ ]:
#reset the key with the .lower function rather than edit each entry
#https://stackoverflow.com/questions/764235/dictionary-to-lowercase-in-python