In [59]:
import pandas as pd
import numpy as np
pur_df = pd.read_csv("purchase_data.csv")

print(pur_df.shape)

(780, 7)

In [60]:
print(pur_df.head(2))

   Purchase ID           SN  Age Gender  Item ID  \
0            0      Lisim78   20   Male      108
1            1  Lisovynya38   40   Male      143

                                   Item Name  Price
0  Extraction, Quickblade Of Trembling Hands   3.53
1                          Frenzied Scimitar   1.56

Player Count
-Total Number of Players

In [61]:
#number of values per unique user = 576
pur_df["SN"].value_counts()

Lisosia93      5
Iral74         4
Idastidru52    4
Lisim78        3
Aina42         3
              ..
Hilaerin92     1
Ceoral34       1
Lisista63      1
Layjask75      1
Sisur91        1
Name: SN, Length: 576, dtype: int64

In [62]:
# create a dictionary then a data frame for number of unique screennames
sn_dict = {"Unique Screen Names:": [576]}
sn_df = pd.DataFrame(sn_dict)
sn_df

   Unique Screen Names:
0                   576

Purchasing Analysis (Total)
-Number of Unique Items
-Average Purchase Price
-Total Number of Purchases
-Total Revenue

In [63]:
#Find number of unique of item IDs = 183
pur_df["Item ID"].value_counts()

178    12
108     9
82      9
145     9
19      8
       ..
91      1
27      1
42      1
23      1
180     1
Name: Item ID, Length: 183, dtype: int64

In [64]:
#Create dictionary of total number of unique items, convert to data frame
itemid_dict = {"Total Number of Unique Items:" : [183]}
itemid_df = pd.DataFrame(itemid_dict)
itemid_df

   Total Number of Unique Items:
0                            183

In [65]:
#calculate average price, round to 2 decimal places
price_mean = pur_df["Price"].mean()
(round(price_mean,2))

3.05

In [66]:
#The average cost of an item is $3.05
#create dictionary with average cost, convert to data frame
price_dict = {"Average Item Cost:" : [round(price_mean,2)]}
price_df = pd.DataFrame(price_dict)
price_df

   Average Item Cost:
0                3.05

In [67]:
#The total number of purchases is 780.
pur_sum = pur_df["Purchase ID"].count()
pur_sum

780

In [68]:
#create dictionary of total purchases, convert to data frame
pur_dict = {"Total number of purchases:" : [pur_df["Purchase ID"].count()]}
pur_df = pd.DataFrame(pur_dict)
pur_df

   Total number of purchases:
0                         780

In [70]:
#The total revenue is $2379.77
#total revenue is the sum of the price column
pur_df["Price"].sum()

KeyError: 'Price'

In [71]:
#create dictionary with total revenue, convert to data frame
rev_dict = {"Total Revenue:" : [sum(pur_df.Price)]}
rev_df = pd.DataFrame(rev_dict)
rev_df

AttributeError: 'DataFrame' object has no attribute 'Price'

Gender Demographics
-Percentage and Count of Male/Female/Other Players

In [72]:
#sort original df by screen name
sn_sort = pur_df.sort_values("SN")
#drop duplicate screen names to get list of unique screen names
sn_unique = sn_sort.drop_duplicates(subset="SN")
sn_unique
#there are 576 unique screen names

KeyError: 'SN'

In [ ]:
#create a df that is grouped by gender with duplicate SN removed
gender_grouped = sn_unique_df.groupby('Gender').count()
gender_grouped
#there are 81 Female, 484 Male, 11 Other/ND

In [ ]:
#
gender_percent = round(gender_grouped / 576 * 100,1)
gender_percent

In [ ]:
#create dictionary with count and percent values and convert to data fram
#set index as "Gender"
gender_dict = {"Gender" : ["Male", "Female", "Other / Non-Disclosed"],
               "Count" : [484, 81, 11],
               "Percent" : [84.0, 14.1, 1.9]}
gender_df = pd.DataFrame(gender_dict).set_index("Gender")

gender_df

Purchasing Analysis by Gender
-purchase count
-average purchase price
-avg purchase total per person
-total purchase value

In [ ]:
#purchase count by gender

gender_grouped = pur_df.groupby("Gender")

#Males made 652 purchases, Females 113, Other 15

In [ ]:
#find the average price of a purchase in the gender grouped df
gender_pur_count = gender_grouped['Price'].mean()
gender_pur_count

In [ ]:
#find average purchase total per person
#group by SN, total purchases per sn, average totals
sn_grouped = pur_df.groupby("SN")
sn_price = sn_grouped.sum()
sn_price.head()

In [ ]:
gender_price_total = round(gender_grouped['Price'].sum(),2)
print(gender_price_total)

In [ ]:
gender_price_avg = round(gender_grouped['Price'].mean(),2)
print(gender_price_avg)

In [ ]:
gender_analysis_dict = 
gender_analysis = pd.DataFrame(gender_analysis_dict)
print(gender_analysis)